.txt-overflow {
    overflow: scroll;
}

/*スクロールバーの幅*/
::-webkit-scrollbar {
    display: none;
}
/*スクロールバーのレール*/
/* ::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #eee;
} */
/*スクロールバーのつまみ*/
/* ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #81d4fa;
} */
